[config]
encoding = UTF-8

[connection]
nick = BadGirl
username = BadGirl
realname = BadGirl
server =  localhost
port = 6667
password = <password>
; for channel passwords, use #channel:passwd
channels = #linuxfire
encoding = GB18030

[botconfig]
shorthand = ~
owner=None

[database]
username = <username>
hostname = localhost
name = <databasename>
password = <password>
port = 3306
encoding = utf8

[ohloh]
key=

[modules]
modulefiles = eventProcess quotegrab flood_protect botmath bottime cool ditdaw dunno eightball factoids hi ignore internal karma lart module_handling nslookup poll priv qotd seen spell stack stats stocknc tell translate version weblookup wordgame webstats
